spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/demo?serverTimezone=UTC&useSSL=false&useUnicode=true&characterEncoding=utf-8
    username: root
    password: admin

  session:
    store-type: none

#security:
#      basic:
#        enabled: false

management:
  health:
    redis:
      enabled: false

#yang:
#  security:
#    browser:
#      loginPage: /demo-signIn.html

#yang:
#  security:
#    browser:
#      loginType: REDIRECT

yang:
  security:
    code:
      image:
        length: 6
        width: 100
        url: /user/*